/* src/components/QuestionnaireOneButton.css */

.selected {
  background-color: #007bff; /* Change background color when selected */
  color: #fff; /* Change text color when selected */
}
  
.stroopBox p {
  font-size: 160px;
}
.finalResult {
  text-transform: capitalize;
} 
.appBg {
  min-height: 100vh;
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 1000px 1000px 1000px 1000px inset rgba(254, 210, 3, .1);
}
.chem-logo {
  width:75px;
  height: 75px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.btn-chemistry { width: 200px; height: 45px; border: none; border-radius: 5px; font-size: 16px; font-weight: bold; background: #FED203; }
.btn-chemistry:hover { background: #fed934 }
.currentQuestion { text-align: center; font-size: 20px; font-weight: bold; }
.questionProgress { text-align: center; font-size: 16px;}
.buttonRow { display: flex; justify-content: center; }
.buttonRow button { margin: 5px; width: 200px; height: 45px; border: none; border-radius: 5px; font-size: 16px; font-weight: bold; }
.buttonRow button:hover { border-bottom: 2px solid rgb(254, 210, 3) !important; }